/* div {
  text-align: center;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
} */

div h1 {
  font-size: 48px;
  font-weight: 800;
  flex-wrap: wrap;
  cursor: default;
  text-align: center;
}

div h1 span {
  text-transform: uppercase;
  color: #111;
  display: inline-block;
  transition: color 0.2s ease;
}

div h1 span:hover {
  color: #6a23ec;
}