header {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 999;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

header .container {
  display: flex;
}

header nav {
  margin-left: auto;
}

.logo {
  font-size: 40px;
  font-family: var(--font-alex-brush);
  font-weight: bold; 
  color: #333;
}

header nav a {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  padding: 25px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 0.1s ease;
  color: #333;
}

header nav a:last-child {
  margin-right: 0;
}

header nav a:hover {
  position: relative;
  transform: scale(1.05);
  color: #6a23ec;
}
/* 
header nav a:not(:nth-child(2)) {
  color: red;
} */