#home {
  position: relative;
}

#home div {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
}

#home div {
  text-align: center;
}

/* div h1 {
  font-size: 48px;
  font-weight: 800;
  flex-wrap: wrap;
  cursor: default;
  text-align: center;
}

div h1 span {
  text-transform: uppercase;
  color: #111;
  display: inline-block;
  transition: color 0.2s ease;
}

div h1 span:hover {
  color: #6a23ec;
} */

#home div h1 span:nth-child(1),
#home div h1 span:nth-child(4),
#home div h1 span:nth-child(6),
#home div h1 span:nth-child(9),
#home div h1 span:nth-child(17) {
  color: #6a23ec;
}

#home div p {
  font-size: 20px;
  color: #333;
  text-align: center;
}

#home div a {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 60px;
  color: #fff;
  background-color: #6a23ec;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all .5s ease;
}

#home div a:hover {
  color: #6a23ec;
  background-color: #fff;
  outline: 1px solid #6a23ec;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}